#logo {
    width: 100%;
    height: 100%;
    max-height: 100px;
    max-width: 180px;
}

#teste {
    width: 100%;
    height: 100%;
}

#icon {
    position: relative;
    left: 440px;
}

#inputDescricao {
    height: 200px;
}

#nav {
    width: 80%;
    margin: 0 auto;
    position: relative;
    font-size: 18px;
    color: white;
}

#nav ul {
    position: relative;
    margin-left: 40px;
    margin-top: 15px;
}

#nav p {
    font-weight: 700;
}

#index {
    background-image: url(img/backgroundindex.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    padding-top: 50px;
}

#index h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    text-align: center;
}

#index h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    color: #fff;
    text-align: center;
}

.aux .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
}

.aux .box span {
    display: block;
    font-size: 28px;
    font-weight: 700;
    padding: 10px;
    padding-bottom: 20px;
}

.aux strong {
    color: #ff0000;
}

.aux .box h4 {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: #353535;
}

.aux .box p {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.aux .box {
    background-color: white;
    color: black;
}

.aux .box:hover {
    background: #ff0000;
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
    color: #fff;
}

.aux .box li {
    list-style-type: circle;
}

.aux .box .nav-link span {
    color: red;
}

.aux .box .nav-link span:hover {
    color: white;
}

#botao {
    border-color: red;
    color: white;
    background-color: red;
}

#botao:hover {
    color: white;
    background-color: rgb(151, 22, 22);
}

.card-header button {
    text-decoration: none;
    color: red;
}

.card-header button:hover {
    text-decoration: none;
    color: rgb(151, 22, 22);
    font-weight: 700;
}